In [223]:
import pandas as pd
import numpy as np
import matplotlib as plt
import pprint

In [254]:
df=pd.read_csv('data/codon_usage.csv')

C:\Users\Bruno\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3165: DtypeWarning: Columns (5,6) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [225]:
cd=df
cd.drop(['Kingdom','DNAtype','SpeciesID','Ncodons','SpeciesName'],axis=1,inplace= True)
df.drop([486,5063],axis=0,inplace=True)

In [226]:
df['UUU']=df['UUU'].astype('float64')
df['UUC']=df['UUU'].astype('float64')

### Promedio

In [251]:
cd.mean()

UUU    0.024818
UUC    0.024818
UUA    0.020637
UUG    0.014104
CUU    0.017821
         ...
GAA    0.028291
GAG    0.021683
UAA    0.001640
UAG    0.000590
UGA    0.006179
Length: 64, dtype: float64

### desviacion estandar

In [228]:
cd.std()

UUU    0.017628
UUC    0.017628
UUA    0.020710
UUG    0.009280
CUU    0.010587
         ...
GAA    0.014343
GAG    0.015019
UAA    0.001785
UAG    0.000882
UGA    0.010345
Length: 64, dtype: float64

### varianza

In [229]:
cd.var()

UUU    3.107393e-04
UUC    3.107393e-04
UUA    4.289243e-04
UUG    8.612081e-05
CUU    1.120813e-04
           ...
GAA    2.057260e-04
GAG    2.255612e-04
UAA    3.186059e-06
UAG    7.775001e-07
UGA    1.070158e-04
Length: 64, dtype: float64

### Persentil, Cuartil

In [230]:
cd.describe()

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
count,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,...,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000,13026.000000
mean,0.024818,0.024818,0.020637,0.014104,0.017821,0.018287,0.019045,0.018452,0.028355,0.025038,...,0.005453,0.009930,0.006423,0.024181,0.021164,0.028291,0.021683,0.001640,0.000590,0.006179
std,0.017628,0.017628,0.020710,0.009280,0.010587,0.014573,0.024252,0.016578,0.017507,0.014596,...,0.006601,0.008574,0.006388,0.013826,0.013039,0.014343,0.015019,0.001785,0.000882,0.010345
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.013910,0.013910,0.005610,0.007103,0.010890,0.007830,0.005302,0.007180,0.016370,0.015130,...,0.001220,0.001690,0.001170,0.012390,0.011860,0.017360,0.009710,0.000560,0.000000,0.000410
50%,0.021750,0.021750,0.015260,0.013360,0.016130,0.014560,0.009680,0.012800,0.025480,0.021540,...,0.003530,0.009270,0.004545,0.025425,0.019070,0.026085,0.020540,0.001380,0.000420,0.001130
75%,0.031308,0.031308,0.029495,0.019808,0.022730,0.025110,0.017255,0.024325,0.038117,0.031860,...,0.007150,0.015928,0.010250,0.034190,0.027690,0.036800,0.031128,0.002370,0.000830,0.002890
max,0.217300,0.217300,0.151330,0.101190,0.089780,0.100350,0.163920,0.107370,0.154060,0.088600,...,0.055540,0.098830,0.058430,0.185660,0.113840,0.144890,0.158550,0.045200,0.025610,0.106700

In [231]:
cd.median()

UUU    0.021750
UUC    0.021750
UUA    0.015260
UUG    0.013360
CUU    0.016130
         ...
GAA    0.026085
GAG    0.020540
UAA    0.001380
UAG    0.000420
UGA    0.001130
Length: 64, dtype: float64

### moda

In [232]:
cd.mode()

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,0.0,0.0,0.0,0.0,0.02564,0.0,0.0,0.0,0.0,0.00986,...,0.0,0.0,0.0,0.0,0.0,0.01316,0.0,0.0,0.0,0.0

### rango

In [233]:
cd.rank()

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,4346.0,4346.0,863.5,1661.5,3940.5,11056.0,762.5,11419.0,736.0,5824.5,...,7641.0,8360.5,12995.0,2754.5,12364.0,1171.5,11988.5,10131.5,7281.5,1072.5
1,8482.0,8482.0,994.0,3129.0,658.0,10467.0,1358.5,11738.5,1896.0,7864.5,...,3432.5,10194.0,12998.0,3219.0,12322.0,2486.0,12026.5,10767.0,8765.5,1072.5
2,5686.5,5686.5,5987.0,7622.5,1714.0,4872.5,6943.0,6121.5,5599.5,3713.5,...,9017.0,11272.5,12885.5,8659.0,7141.5,5293.5,7881.5,12394.5,2165.0,7329.0
3,4863.0,4863.0,6808.0,4601.5,6233.0,6065.5,6337.0,8225.5,6029.5,6880.5,...,6706.0,8884.0,12079.0,10823.0,6647.5,7817.5,10565.0,10349.5,12000.0,1072.5
4,8821.5,8821.5,3966.0,12848.0,5104.0,2157.5,2879.0,9133.0,7067.0,1027.0,...,9073.5,9271.0,12196.5,11715.5,8872.0,8834.5,11004.0,906.5,6709.0,7026.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13023,7913.0,7913.0,3209.0,6689.5,4380.0,8730.0,5414.5,11034.0,2705.0,11125.0,...,10361.0,8688.5,10096.0,3509.0,8122.5,4438.0,11684.5,4897.0,10352.5,10182.0
13024,2786.5,2786.5,7837.0,2919.0,5559.0,12567.0,12361.5,6396.0,8118.5,12708.5,...,3588.0,886.5,2560.0,489.5,3778.5,3744.5,2582.0,9919.0,10700.5,10554.0
13025,3389.0,3389.0,6940.0,1710.5,3465.5,12454.0,12854.5,5449.0,7100.5,12796.0,...,700.0,886.5,1115.5,450.0,5391.5,7071.5,1369.5,12135.0,11389.5,10657.0
13026,4779.0,4779.0,3966.0,6259.0,4693.5,8315.0,4572.0,11373.5,3133.0,6193.5,...,11499.5,7938.0,10555.5,5423.5,8970.0,7435.5,11480.5,5262.5,9524.0,7584.0
13027,4883.5,4883.5,7188.5,2791.5,6933.0,11750.0,12067.5,6632.0,8816.5,12106.0,...,2589.5,2090.0,2473.0,1177.0,4245.0,2904.0,2833.5,7058.0,11251.0,10831.5

In [234]:
df

,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,AUC,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
0,0.01654,0.01654,0.00050,0.00351,0.01203,0.03208,0.00100,0.04010,0.00551,0.02005,...,0.00451,0.01303,0.03559,0.01003,0.04612,0.01203,0.04361,0.00251,0.00050,0.00000
1,0.02714,0.02714,0.00068,0.00678,0.00407,0.02849,0.00204,0.04410,0.01153,0.02510,...,0.00136,0.01696,0.03596,0.01221,0.04545,0.01560,0.04410,0.00271,0.00068,0.00000
2,0.01974,0.01974,0.01357,0.01543,0.00782,0.01111,0.01028,0.01193,0.02283,0.01604,...,0.00596,0.01974,0.02489,0.03126,0.02036,0.02242,0.02468,0.00391,0.00000,0.00144
3,0.01775,0.01775,0.01619,0.00992,0.01567,0.01358,0.00940,0.01723,0.02402,0.02245,...,0.00366,0.01410,0.01671,0.03760,0.01932,0.03029,0.03446,0.00261,0.00157,0.00000
4,0.02816,0.02816,0.00767,0.03679,0.01380,0.00548,0.00473,0.02076,0.02716,0.00867,...,0.00604,0.01494,0.01734,0.04148,0.02483,0.03359,0.03679,0.00000,0.00044,0.00131
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13023,0.02552,0.02552,0.00547,0.01367,0.01276,0.02097,0.00820,0.03555,0.01459,0.03920,...,0.00820,0.01367,0.01094,0.01367,0.02279,0.02005,0.04102,0.00091,0.00091,0.00638
13024,0.01258,0.01258,0.01984,0.00629,0.01451,0.05322,0.07644,0.01258,0.03096,0.06386,...,0.00145,0.00000,0.00048,0.00194,0.01306,0.01838,0.00677,0.00242,0.00097,0.01887
13025,0.01423,0.01423,0.01661,0.00356,0.01127,0.05042,0.09609,0.01068,0.02728,0.06643,...,0.00000,0.00000,0.00000,0.00178,0.01661,0.02788,0.00297,0.00356,0.00119,0.02017
13026,0.01757,0.01757,0.00767,0.01293,0.01319,0.01959,0.00715,0.03964,0.01600,0.02082,...,0.01142,0.01217,0.01196,0.02178,0.02510,0.02896,0.03959,0.00099,0.00079,0.00156
13027,0.01778,0.01778,0.01732,0.00600,0.01689,0.03854,0.07000,0.01308,0.03391,0.05137,...,0.00083,0.00041,0.00041,0.00451,0.01402,0.01651,0.00783,0.00156,0.00114,0.02161

In [255]:
df.drop(['Kingdom','DNAtype','SpeciesID','Ncodons'],axis=1,inplace= True)

In [242]:
row=df.tail(1)

In [243]:
mn=pd.DataFrame(row)
mn

,SpeciesName,UUU,UUC,UUA,UUG,CUU,CUC,CUA,CUG,AUU,...,CGG,AGA,AGG,GAU,GAC,GAA,GAG,UAA,UAG,UGA
13027,mitochondrion Homo sapiens,0.01778,0.03724,0.01732,0.006,0.01689,0.03854,0.07,0.01308,0.03391,...,0.00083,0.00041,0.00041,0.00451,0.01402,0.01651,0.00783,0.00156,0.00114,0.02161

In [ ]:
df